/*--

What's Playing Now - Pop Up

--*/

body {
font-family: verdana, helvetica, arial, sans-serif;
font-size: 10.5px;
color: #333;
background-color: #ccc;
}


#update {
font-family: verdana, helvetica, arial, sans-serif;
font-size: 9px;
color: #999;
text-align: center;
}

#titles {
font-family: verdana, helvetica, arial, sans-serif;
font-size: 10.5px;
}


